.userAvatar {
  width: 30px;
  height: 30px;
}
#offline {
  display: none;
  text-align: center;
  width: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
